################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChineseChess/.vs/ChineseChess/CopilotIndices/18.0.981.45449
/ChineseChess/.vs
/ChineseChess/ChineseChess/bin/Debug/net10.0-windows
/ChineseChess/ChineseChess/obj
*.user
/ChineseChess/ChineseChess.Core/obj
/ChineseChess/ChineseChess.Core/bin/Debug/net10.0
/ChineseChess/ChineseChess.Core.Verification/bin/Debug/net10.0
/ChineseChess/ChineseChess.Core.Verification/obj
/ChineseChess/ChineseChess.SelfPlay/bin/Debug/net10.0
/ChineseChess/ChineseChess.SelfPlay/obj
/data/
*.jsonl
/ChineseChess/ChineseChess/bin
/ChineseChess/ChineseChess.Core/bin
/ChineseChess/ChineseChess.Core.Verification/bin
/ChineseChess/ChineseChess.SelfPlay/bin
